h1{
  text-align: left;
  padding-left: 60px;
  padding-right: 60px;
  font-family: "Times New Roman", Times, serif;
  font-size: 40px
    }

h2{
  text-align: left;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: bold;
  padding-left: 60px;
}

h3{
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
    }
h4{
  font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
	font-size: 30px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 22px;
  text-align: left;
  }

h5{
     font-family: "catamaran";
     font-size: 18px;
     font-style: bold;
}

img {
    padding-right: 60px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    width: 200px;
  }

p {
  text-align: justify
}

#information {
    border: 0px solid black;
    margin: 5px;
    padding-top: 20px;
    padding-right: 60px;
    padding-bottom: 60px;
    padding-left: 60px;
}

#contact {
    position: relative;
    top: 0px;
}
