* {
  
  background-color: blue;
}

h1{
  text-align: center;
}

body{
  color: yellow;
}

h1 {
   color: orange;
}
a {
  color: white;
  text decoration: none;
}
 
a:hover {
    color: black;
    background-color: white;
  
}

p {
  font-family: cursive;
 }
article {
  border: 1px solid red;
}

.pizzabox {
  border: 1px dotted;
  padding: 8px;
  margin: 10px;
background-color: #cccccc;
}

img {
  height: 80px;
  float: right;
}

.yellow {
  background: yellow;
  
}
